.ant-input-affix-wrapper {
    width: 100% !important;
}

.side-item {
    align-items: center;
    text-align: center;
    padding: 10px;
    .addons-item {
        width: 100%;
        height: 140px;
        background-color: #b1b3b6;
    }
}

::ng-deep .slick-next {
    top: 30% !important;
    right: -20px !important;
    &::before {
        color: #b1b3b6 !important;
    }
}

::ng-deep .slick-prev {
    top: 30% !important;
    left: -20px !important;
    &::before {
        color: #b1b3b6 !important;
    }
}